/* # ID; . class */

/* WEB CSS */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}


/* Navigation CSS */

nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 20px;
    height: 10vh; 
    z-index: 30; 
}

.navigation {
    display: flex;
    align-items: center;
    gap: 20px
}

#nav-logo {
    width: 5%;
    height: auto;
    margin-right: auto;
}

.navigation a {
    color: #000000;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.navigation a:hover {
    box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.4);
    background-color: #c0c0c0; 
}

/* First section CSS */

#main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; 
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 80px;
    z-index: 2;
}

.main-section {
    position: relative;
    text-align: center;
    margin-bottom: 5vmax;
}

.main-section img {
    width: 100%;
    height: 30vmax;
    object-fit: cover; 
    display: block;
    z-index: 1;
    filter: brightness(60%);
}   
    
/* Second section CSS */

.services-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
    max-width: 1200px; 
    margin: 0 auto;
    margin-bottom: 2vmax;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18vmax; 
    height: 18vmax; 
    padding: 15px;
    gap: 2vmax; 
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s, box-shadow 0.2s;
    margin-bottom: 2vmax;
}

.services-box:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.services-title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.services-text {
    align-items: center;
    font-size: 14px;
}

/* Third section CSS */

.slogan {
    background-color: #f6f6f6;
    display: flex;
    width: 100%;
    height: 20vmax;
}

.slogan-text-section {
    width: 50vmax;
    height: 20vmax;
    margin: 3vmax;
}

.slogan-text-section h3 {
    font-size: 30px;
}

.slogan-text-section p {
    margin-top: 3vmax;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    align-items: center;
    font-size: 15px;
}

.slogan-image-section {
    display: flex;
    align-items: flex-end;
}

.slogan img {
    width: 50vmax;
    height: 20vmax;
    object-fit: cover;
}

/* Slideshow CSS */

.gallery-title {
    font-size: 30px;
    margin-left: 3vmax;
    margin-top: 3vmax;
    margin-bottom: 1vmax;
}

.gallery-title a {
    text-decoration: none;
    color: #000000;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.mySlides {
    display: none; 
}

.slideshow-active {
    display: block;
}

.slideshow-button {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    z-index: 20; 
    transform: translateY(-50%);
    text-decoration: none;
}

.slideshow-button.prev {
    left: 368px;
     
}

.slideshow-button.next {
    right: 368px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
.dots {
    text-align: center
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 1vmax;
  }

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }  

.mySlides img {
    width: 60vmax;
    height: auto;
}

/* Contact section CSS */

.contact {
    background-color: #f6f6f6;
    display: flex;
    width: 100%;
    height: 25vmax;
    margin-top: 4vmax;
}

.contact-titles {
    width: 50vmax;
    height: 20vmax;
    margin: 3vmax;
}

.contact-titles h3 {
    font-size: 30px;
    margin-bottom: 1vmax;
}

.contact-titles h4 {
    font-size: 20px;
    margin-bottom: 1vmax;
}

#contact-adress {
    font-size: 15px;
    margin-bottom: 3vmax;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

#ic {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 0.2vmax;
}

#ic-text {
    font-size: 15px;
    padding-bottom: 1vmax;
}

#dic {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 0.2vmax;
}

#dic-text {
    font-size: 15px;
    padding-bottom: 1vmax;
}

#email {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 0.2vmax;
}

#email-text {
    font-size: 15px;
    padding-bottom: 1vmax;
}

#email-link {
    text-decoration: none;
    color: #000000;
}

#openhours {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 0.2vmax;
}

#openhours-text {
    font-size: 15px;
}

#phone {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 0.2vmax;
}

#phone-text {
    font-size: 15px;
}

#phone-link {
    text-decoration: none;
    color: #000000;
}

.contact-image-section {
    display: flex;
}

.contact-image-section img {
    width: 50vmax;
    height: 25vmax;
    object-fit: cover;
}

/* Forms CSS */

.form h3 {
    font-size: 30px;
    margin: 3vmax;
}

form {
    margin: 3vmax;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    max-width: 30vmax;
}

#form-name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.5vmax;
}

#name-box {
    margin-bottom: 15px;
    padding: 0.5vmax; 
    border: 1px solid #cccccc; 
    border-radius: 10px;
    width: 40%;
}

#email-form {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.5vmax;
}

#mail-box {
    margin-bottom: 15px; 
    padding: 0.5vmax; 
    border: 1px solid #cccccc; 
    border-radius: 10px; 
    width: 40%;
}

#message {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.5vmax;
}

#message-box {
    margin-bottom: 15px; 
    padding: 5vmax; 
    border: 1px solid #cccccc; 
    border-radius: 10px; 
    width: 40%;
}

#button-send {
    font-weight: bold;
    background-color: #575757; 
    color: #ffffff; 
    border: 1px solid #000000;
    padding: 0.6vmax;
    border-radius: 10px;
    margin-right: 20vmax;
    cursor: pointer; 
}

#button-send:hover {
    background-color: #838383;
}

/* MAP CSS */