/* # ID; . class */

/* WEB CSS */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}


/* Navigation CSS */

nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vmax;
    top: 0;
    padding: 0 2vmin;
    height: 5vmax; 
    z-index: 30; 
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1vmax;
}

#nav-logo {
    width: 5%;
    height: auto;
    margin-right: auto;
}

.navigation a {
    color: #000000;
    padding: 1vmax 1vmax;
    text-decoration: none;
    font-size: 1.9vmin;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.navigation a:hover {
    box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.4);
    background-color: #c0c0c0; 
}

/* First section CSS */

#main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; 
    font-weight: bold;
    font-size: 4vmin;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 8vmax;
    z-index: 2;
}

.main-section {
    position: relative;
    text-align: center;
    margin-bottom: 5vmax;
}

.main-section img {
    width: 100vmax;
    height: 40vmax;
    object-fit: cover; 
    display: block;
    z-index: 1;
    filter: brightness(60%);
}   
    
/* Second section CSS */

.services-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2vmax; 
    padding: 20px; 
    max-width: 70vmax; 
    margin: 0 auto;
    margin-bottom: 2vmax;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18vmax; 
    height: 18vmax; 
    padding: 1.5vmax;
    gap: 2vmax; 
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s, box-shadow 0.2s;
    margin-bottom: 2vmax;
}

.services-box:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.services-title {
    text-align: center;
    font-weight: bold;
    font-size: 2vmax;
}

.services-text {
    align-items: center;
    font-size: 0.8vmax;
}

/* Third section CSS */

.slogan {
    background-color: #f6f6f6;
    display: flex;
    width: 100vmax;
    height: 20vmax;
}

.slogan-text-section {
    width: 50vmax;
    height: 20vmax;
    margin: 3vmax;
}

.slogan-text-section h3 {
    font-size: 2vmax;
}

.slogan-text-section p {
    margin-top: 3vmax;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    align-items: center;
    font-size: 0.8vmax;
}

.slogan-image-section {
    display: flex;
    align-items: flex-end;
}

.slogan img {
    width: 50vmax;
    height: 20vmax;
    object-fit: cover;
}

/* Slideshow CSS */

.gallery-title {
    font-size: 2vmax;
    margin-left: 3vmax;
    margin-top: 3vmax;
    margin-bottom: 1vmax;
}

.gallery-title a {
    text-decoration: none;
    color: #000000;
}

.slideshow-container {
    position: relative;
    width: 50vmax;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.mySlides {
    display: none; 
}

.slideshow-active {
    display: block;
}

.slideshow-button {
    position: absolute;
    top: 20vmax;
    width: auto;
    padding: 1vmax;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    z-index: 20; 
    transform: translateY(-50%);
    text-decoration: none;
}

.slideshow-button.prev {
    left: 0vmax;
     
}

.slideshow-button.next {
    right: 0vmax;
}
  
.dots {
    text-align: center
}

.dot {
    cursor: pointer;
    height: 3vmin;
    width: 3vmin;
    margin: 0 0.2vmax;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 1vmax;
  }

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }  

.mySlides img {
    width: 60vmax;
    height: auto;
}

/* Contact section CSS */

.contact {
    background-color: #f6f6f6;
    display: flex;
    width: 100vmax;
    height: 30vmax;
    margin-top: 4vmax;
}

.contact-titles {
    width: 50vmax;
    height: 20vmax;
    margin: 3vmax;
}

.contact-titles h3 {
    font-size: 3vmax;
    margin-bottom: 1vmax;
}

.contact-titles h4 {
    font-size: 2vmax;
    margin-bottom: 1vmax;
}

#contact-adress {
    font-size: 1vmax;
    margin-bottom: 3vmax;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

#ic {
    font-size: 1.7vmax;
    font-weight: bold;
    padding-bottom: 0.2vmax;
}

#ic-text {
    font-size: 1.5vmax;
    padding-bottom: 1vmax;
}

#dic {
    font-size: 1.7vmax;
    font-weight: bold;
    padding-bottom: 0.2vmax;
}

#dic-text {
    font-size: 1.5vmax;
    padding-bottom: 1vmax;
}

#email {
    font-size: 1.7vmax;
    font-weight: bold;
    padding-bottom: 0.2vmax;
}

#email-text {
    font-size: 1.5vmax;
    padding-bottom: 1vmax;
}

#email-link {
    text-decoration: none;
    color: #000000;
}

#openhours {
    font-size: 1.7vmax;
    font-weight: bold;
    padding-bottom: 0.2vmax;
}

#openhours-text {
    font-size: 1.5vmax;
}

#phone {
    font-size: 1.7vmax;
    font-weight: bold;
    padding-bottom: 0.2vmax;
}

#phone-text {
    font-size: 1.5vmax;
}

#phone-link {
    text-decoration: none;
    color: #000000;
}

.contact-image-section {
    display: flex;
}

.contact-image-section img {
    width: 49vmax;
    height: 30vmax;
    object-fit: cover;
}

/* Form and map CSS */

#form-title {
    font-size: 3vmax;
    margin-bottom: 2vmax;
    margin-left: 3vmax;
}

form label {
    margin-bottom: 0.1vmax;
    font-weight: bold;
    margin-left: 3vmax;
}

#name-box {
    width: 15vmax;
    height: 1vmax;
    padding: 0.2vmax;
    margin-left: 3vmax;
}

#mail-box {
    width: 15vmax;
    height: 1vmax;
    padding: 0.2vmax;
    margin-left: 3vmax;
}

#message-box {
    width: 15vmax;
    height: 5vmax;
    padding: 1vmax;
    margin-left: 3vmax;
}

.form-map {
    display: flex;
    width: 100%; 
    height: auto; 
    margin: 0; 
    padding: 0; 
}

.form-section {
    width: 50%;
    padding: 0; 
    box-sizing: border-box;
}

.map-section {
    width: 50vmax;
    height: auto; 
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.9vmax; 
    width: 20vmax;
}

iframe {
    width: 100%;
    height: 30vmax; 
    border: none; 
    object-fit: cover;
}

#button-send {
    width: 8vmax;
    height: 2vmax;
    background-color: #717171;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 3vmax;
}

/* FOOTER CSS */

footer {
    background-color: #f6f6f6; /* Pozadí footeru */
    padding: 2vmax;
}

.footer-content {
    display: flex; 
    justify-content: space-between;
}

.image-footer img {
    width: 6vmax; 
    height: auto;
}

.footer-contact {
    display: flex; 
    justify-content: space-between; 
    width: 50vmax; /
}

.footer-item a {
    text-decoration: none;
    color: #000000;
}

.footer-item h3 {
    margin: 0; 
    font-size: 1.3vmax;
}

.footer-item p {
    margin: 1vmax 0 0 0; 
    font-size: 1.2vmax;
}